*{
    margin: 0;
    padding: 0;

}
body{
    background: rgb(67, 201, 216);
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);

}
.diya{
    width: 300px;
    height: 150px;
    margin-top: 50px;
    background: red;
    box-shadow: 5px 5px 30px rgb(208, 101, 101);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.diya::before{
    position: absolute;
    content:  "";
    background: yellow;
    width: 300px;
    height: 
    80px;
    box-sizing: border-box ;
    top: -23%;
    border-radius: 50%;
    border: 10px solid black;

}
.diya::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 200px;
    border-radius: 50%;
    bottom: 90%;
    box-shadow: 0px 0px 50px yellow, 0px 0px 30px yellow;
    animation: animate 2s ease infinite;
    transform-origin: bottom;
    background: yellow;
}
@keyframes animate{
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(1.1) scaleX(1.05);
    }
    100%{
        transform: scaleY(1);
    }
}
.bida{
    position: absolute;
    width: 300px;
    height: 30px;
    left: 5%;
    background: #000;
    border-radius: 50%;
}
.diwali{
    text-align: center;
    margin-top: 90px;
    font-size: 30px;
    background-color: greenyellow;
    border: 0px solid violet;
    box-shadow: 10px 10px 10px pink;
    text-shadow: 2px 5px 5px rgb(216, 111, 31);

}


// do add more css to explore ....